header.appTitle {
    display: flex;
    border: 1px solid black;
    height: 150px;
    width: 100%;
    justify-content: center;
}

section.mainPage {
    height: 100%;
    width: 100%;
}

h1.title {
    font-size: 50px;
    margin-top: 2%;
}

h2.noteName {
    float: left;
    position: relative;
    left: 2%;
}

h2.folderName {
    position: relative;
    top: -5%;
}

p.modified {
    position: relative;
    top: 55%;
    right: 30%;
}

button.deleteButton {
    float: right;
    right: 5%;
    top: 35%;
    padding: 10px 30px;
    position: relative;
}

button.addNote {
    float: right;
    position: relative;
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 10px;
    margin-left: 50px;
    padding: 15px 50px;
}

button.addFolder {
    padding: 30px 90px;
    font-size: 20px;
}

div.notesHolder {
    display: block;
    text-align: center;
    height: 100%;
    width: 60%;
    position: relative;
    overflow: auto;
    left: 40%;
    border: 1px solid black;
    border-top: 0px;
}
div.foldersHolder{
    display: block;
    text-align: center;
    height: 100%;
    width: 40%;
    position: absolute;
    top: 22%;
    overflow: auto;
    border: 1px solid black;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
}


div.noteHolder {
    display: inline-block;
    height: 100px;
    width: 90%;
    border: 1px solid black;
    margin-top: 2%;
}

div.folderHolder {
    display: inline-block;
    height: 100px;
    width: 90%;
    margin-bottom: 20px;
    border: 1px solid black;

}

